* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: var(--background-color);
    font-family: 'Hind', sans-serif;
}

.theme-light {
    --background-color: #ffffff;
    --border-color: #EEEEEE;
    --font-color: #6C757D;
}

.theme-dark {
    --background-color: #1E1E30;
    --border-color: #6C757D;
    --font-color: #6C757D;
}

.calculator {
    width: auto;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
}

.select {
    border: none;
    width: 100%;
    padding: 4px 8px;
    outline: 0;
    background: var(--background-color);
    color: var(--font-color);
    position: relative;
    z-index: 5;
}

.select_value_wrapper {
    display: flex;
    cursor: pointer;
}

.select_value {
    width: 50%;
}

.down {
    margin-left: auto;
    cursor: pointer;
    padding: 0 15px;
}

.option_wrapper {
    position: absolute;
    top: 100%;
    left: 0px;
    display: none;
    width: 100%;
    background: var(--background-color);
    color: var(--font-color);
    cursor: pointer;
    z-index: 3;
    box-shadow: 0 10px 35px rgba(0, 0, 0, .1);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.option_wrapper .option {
    padding: 4px 8px;
    border-bottom: 1px solid var(--border-color);
}

.option:nth-child(1) {
    border-top: 1px solid var(--border-color);
    ;
}

.from {
    margin-right: 20px;
}

.from,
.to {
    width: 355px;
    border: 1px solid var(--border-color);
    position: relative;
    box-shadow: 0 10px 35px rgba(0, 0, 0, .1);
}

.from input,
.to input {
    width: 100%;
    padding: 0;
    border: none;
    border-bottom: 1px solid var(--border-color);
    background: var(--background-color);
    padding: 15px;
    font-size: 25px;
    text-align: center;
    color: var(--font-color);
}

.from input:focus,
.to input:focus {
    outline-width: 0;
}

.equal {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.equal i {
    font-size: 25px;
    color: var(--font-color);
}

.theme_toggle {
    position: absolute;
    top: 30px;
    right: 30px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('https://i.ibb.co/FxzBYR9/night.png');
    background-repeat: no-repeat;
    background-position: center;
}

input:checked+.slider {
    background-color: #2196f3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media only screen and (max-width:890px) {
    .from,
    .to {
        width: 255px;
    }
}

@media only screen and (max-width:667px) {
    .calculator {
        flex-direction: column;
        align-items: center;
    }
    .from,
    .to {
        width: 355px;
    }
    .from {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .from .option_wrapper {
        z-index: 4;
    }
    .to .select {
        z-index: 3;
    }
    .equal {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .to .option_wrapper {
        z-index: 2;
    }
}

@media only screen and (max-width:380px) {
    .calculator {
        width: 100%;
        padding: 0 15px;
    }
    .from,
    .to {
        width: 100%;
    }
}